html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  background: blue;
  background: 
  repeating-radial-gradient(white, #c4c4c4 200px);
  
}