/*
> 화면이 800픽셀 이하일 경우 아래의 CSS 적용
@media screen and (min-width: 800px) {
  .wrapper span {
    font-size: 2vw !important;
    color: white;
  }
} */

.container {
  width: 90vw;
  height: 150px;
  background: #d9d9d9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  width: 62px;
  height: 31px;
  background: #000000;
  text-align: center;
}

.wrapper span {
  font-size: 3vw;
  color: white;
}

body {
  background-color: black;
}
#span2 {
  font-size: 40px;
  color: white;
  opacity: 0.5;
}

#span2:hover {
  color: orange;
  /* opacity: 1; */
}
