#wrapper {
  display: grid;

  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px;

  /* 두번 째 줄에 적용 시키고 싶을 경우 */
  /* grid-template-rows: 100px 100px; */
  
  /* fr단위 적용 */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */

  /* 줄 높이 최소|최대 */
  /* grid-template-rows: minmax(100px, auto); */

  /* 자동으로 컬럼 개수 조절 */
  /* grid-template-columns: repeat(auto-fit, 200px); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

  /* grid-gap << deprecate됨 */
  /* gap: 20px; */
  /* row-gap: 20px; */
  /* column-gap: 20px; */


}
.items {
  padding:10px;
  background-color: #eee;
}
.items:nth-child(odd) {
  background-color: #bbb;
}