#container {
  width: 1000px;
  height: 1000px;
  margin-left: 100px;
}

.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 30px 0;
}

.wrapper div {
  width: 200px;
  height: 200px;
  background: orange;
}

#prop {
  transition-property: none;
  transition-duration: 2s;
}

#prop:hover {
  width: 400px;
  height: 400px;
}
